<div class="flex items-center my-1">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span class="absolute inset-[-1000%]"></span>
    <div
      class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-cyan-800 bg-cyan-100 rounded-full dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
